
@{
    ViewBag.Title = "Student Home";
}

<div class="jumbotron student-intro">
    <h1>Contoso University</h1>
    <h3>Bringing the U in University!</h3>
</div>
<div class="row">
    <div class="col-md-4 tile">
        <h2>Student Registration</h2>
        <p>
            Register as a student at Contoso University.
        </p>
        <button>Register Now</button>
    </div>
    <div class="col-md-4 tile">
        <h2>Get Involved</h2>
        <p>
            From registered student organizations to volunteer opportunities, recognition programs and more,
            there are lots of rewarding and fun ways to get engaged on campus.
        </p>
    </div>
    <div class="col-md-4 tile">
        <h2>Celebrate</h2>
        <p>
            Convocation and Commencement bookend a student’s transformative educational experience at the University.
        </p>
    </div>
</div>

